@model Topic

@{
    ViewData["Title"] = "Edit Topic";
}

<h2>Edytuj Temat</h2>

<h4>Temat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="TopicTitle" class="control-label"></label>
                <input asp-for="TopicTitle" class="form-control" />
                <span asp-validation-for="TopicTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>