@model Forum_RP.Models.User
@{
    ViewData["Title"] = "Change Password";
}

<h2>Zmiana Hasła</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="ChangePassword" method="post">
            <div class="form-group">
                <label for="currentPassword">Aktualne Hasło</label>
                <input type="password" id="currentPassword" name="currentPassword" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="newPassword">Nowe Hasło</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Change Password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
